<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Admin Dashboard</title>
</head>
<body>
    <div id="topbar">
        <img src="static/images/citymonitor.svg" id="logo">
        <div style="display: flex; gap: 20px;">
            <h1>Admin Dashboard</h1>
            <h1 class="topbar-item">{{time}}</h1>
            <h1 class="topbar-item">{{date}}</h1>
        </div>
    </div>
    <hr>
    <h1>CityMonitor Saved Buses</h1>
    <form method="POST" action="/admin" onsubmit="reloadPage()">
        {% for entry in saved %}
            <div>
                <label>Route:</label>
                <input type="text" name="route_{{ loop.index }}" value="{{ entry.route }}">
                <label>Stop ID:</label>
                <input type="text" name="stop_id_{{ loop.index }}" value="{{ entry.stop_id }}">
            </div>
        {% endfor %}
        <button type="submit">Save</button>
        <button type="button" onclick="window.location.href='/logout'">Logout</button>
    </form>
    <script>
        function reloadPage() {
            setTimeout(function() {
                window.location.reload();
            }, 1000); 
        }
    </script>
</body>
</html>
