<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function refreshAtTopOfMinute() {
            const now = new Date();
            const secondsUntilNextMinute = 60 - now.getSeconds();
            setTimeout(() => {
                location.reload();
                setInterval(() => {
                    location.reload();
                }, 60000);
            }, secondsUntilNextMinute * 1000);
        }
        refreshAtTopOfMinute();
    </script>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Citymonitor</title>
</head>
<body>
    <div id="topbar">
        <img src="static/images/citymonitor.svg" id="logo">
        <div style="display: flex; gap: 20px;">
            <h1 class="topbar-item">{{time}}</h1>
            <h1 class="topbar-item">{{date}}</h1>
        </div>
    </div>
    <!--
    <div id="topbar">
        <div style="display: flex; gap: 20px;">
            <h1 class="topbar-bottom-item">Route</h1>
            <h1 class="topbar-bottom-item">ETA Time</h1>
            <h1 class="topbar-bottom-item" id="etacountdown">ETA Countdown</h1>
        </div>
    </div>
    -->
    <div id="stop-wrapper">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Route</th>
                    <th>ETA Time</th>
                    <th>ETA Countdown</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
                <tr id="saved-stop-1" {% set countdown = api.get_eta(saved[0]['stop_id'], saved[0]['route'], "countdown") %} {% if countdown != "N/A" and (countdown == "Now" or countdown|int < 5) %}style="color: #E80028;"{% endif %}>
                    <td>{{saved[0]['route']}}</td>
                    <td>{{api.get_eta(saved[0]['stop_id'], saved[0]['route'], "time")}}</td>
                    <td>{% if countdown == "Now" %}Now{% elif countdown == "N/A" %}N/A{% else %}{{countdown}}m{% endif %}</td>
                </tr>
                <tr id="saved-stop-2" {% set countdown = api.get_eta(saved[1]['stop_id'], saved[1]['route'], "countdown") %} {% if countdown != "N/A" and (countdown == "Now" or countdown|int < 5) %}style="color: #E80028;"{% endif %}>
                    <td>{{saved[1]['route']}}</td>
                    <td >{{api.get_eta(saved[1]['stop_id'], saved[1]['route'], "time")}}</td>
                    <td>{% if countdown == "Now" %}Now{% elif countdown == "N/A" %}N/A{% else %}{{countdown}}m{% endif %}</td>
                </tr>
                <tr id="saved-stop-3" {% set countdown = api.get_eta(saved[2]['stop_id'], saved[2]['route'], "countdown") %} {% if countdown != "N/A" and (countdown == "Now" or countdown|int < 5) %}style="color: #E80028;"{% endif %}>
                    <td>{{saved[2]['route']}}</td>
                    <td>{{api.get_eta(saved[2]['stop_id'], saved[2]['route'], "time")}}</td>
                    <td>{% if countdown == "Now" %}Now{% elif countdown == "N/A" %}N/A{% else %}{{countdown}}m{% endif %}</td>
                </tr>
                <tr id="saved-stop-4" {% set countdown = api.get_eta(saved[3]['stop_id'], saved[3]['route'], "countdown") %} {% if countdown != "N/A" and (countdown == "Now" or countdown|int < 5) %}style="color: #E80028;"{% endif %}>
                    <td>{{saved[3]['route']}}</td>
                    <td>{{api.get_eta(saved[3]['stop_id'], saved[3]['route'], "time")}}</td>
                    <td>{% if countdown == "Now" %}Now{% elif countdown == "N/A" %}N/A{% else %}{{countdown}}m{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>